*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
ul{
    list-style-type:none;
    font-size:16px;
    background-color: #3f3f41;
    color:white;
    /* height:52px; */
    overflow:auto;
    position:fixed;
    width:100%;
    top:0;
    
} 
li{
   float:left;
    /* padding:8px 16px;
    height:100%; */

}
li a{
    display:block;
    text-decoration:none;
    color:white;
    padding:16px;
}
li:hover{
background-color: black;
}
.active{
    background-color: #04aa6d;
    
}
.end{
    float:right
}

.content{
    padding-top: 50px;
    background-color: #1abc9c;

    overflow:auto;

}
@media screen and (max-width:600px){
    ul li,li.end {
        float:none;
    }
}