*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
#calc{
    /* width:90%;
    max-width:400px; */
    min-height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* padding:50px; */
    flex-direction:column;
    padding:10px 30px;
    background-color: rgb(198, 195, 195);
}
.border{
    border: 2px solid black;
}
.border-radius{
    border-radius:5px;
}
#content{
    display:grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:auto auto auto auto;
    gap:10px;
 
}
#calc-input{
    width:100%;
    padding:5px 2px;
    margin:20px 5px;
    font-size:1.5rem;
    background-color: #9E9A90;
    font-weight:200;
    color:white;
    font-family:sans-serif;
    text-align:right;
}
#calc-input:hover{
    cursor:pointer;


}
#calc-input:focus{
    outline:none;
}
.bg-red{
    background-color: rgb(200, 27, 27 )!important;
    color:white;
}
.clac-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
    width:70px;
}
.clac-btn:hover{
    background-color: white;
    cursor:pointer;
}

